################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/KafkaConsumer/obj
/KafkaConsumer/bin
/KafkaProducer/obj
/KafkaProducer/bin
